# Virtual Environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific files
.vscode/
*.swp
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Environment variables file
.env

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints